{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
<ul class="list-group">
  <a href="{% url 'mobiles' %}" class="btn"><li class="list-group-item">All Mobiles</li></a> 
 <a href="{% url 'mobiledata' 'below' %}" class="btn"><li class="list-group-item">Under 6000</li></a> 
  <a href="{% url 'mobiledata' 'above' %}" class="btn"><li class="list-group-item">Above 6000</li></a> 


</ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
   {% for mobile in mobiles %}
  <div class="text-center">
     <a href="{% url 'product-detail' mobile.id %}">

  <img src="{{mobile.product_image.url}}" height="200px" alt="" class="">   </a>
  <div class="fw-bold">{{mobile.title}}</div> 
    <div class="fw-bold">{{mobile.selling_price}}</div>
  


     </div>
   
   {% endfor %}
  </div>
 </div>
</div>
{% endblock main-content %}