{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
   <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
   </ul>
   </div>
   <div class="col-sm-9 offset-sm-1">
   <div class="row">
      <div class="col-sm-7 align-self-center">
       {% for order in order %}
      <div>Order {{order.product.title}}</div>
      <hr class="text-muted">
    <div class="col-sm-3 text-center align-self-center">  <img src="{{order.product.product_image.url}}" alt=""></div>
    </div>
    {% endfor %}
   </div>
  </div>
      <div class="col-sm-4 offset-sm-1">
          <div class="row">
               <a href="{% url 'payment' %}"><btn class="btn btn-danger">Pay</div></a>
           </div>
      </div>
  

  </div>
</div>
{% endblock main-content %}